.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
}

.headerCard{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.imageLink{
    display: flex;
    width: 10%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 28px;
}

.contantCard{
    height: 90%;
    width: 100%;
}

.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 5%;
}

.field{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20%;
}

.fieldSelect{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.input{
    display: flex;
    text-align: center;
    width: 80%;
}

.buttonSubmit{
    width: 20%;
    height: 40px;
}