.buttonEdit {
    background-color: deepskyblue;
    width: 50px;
    height: 30px;
}

.buttonEdit:hover {
    background-color: lightskyblue;
}

.buttonEdit:active {
    background-color: deepskyblue;
}