.imageLink{
    display: flex;
    width: 10%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.image {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.image:hover {
    background-color: lightgray;
    border-radius: 20%;
}

.image:active {
    background-color: #fff;
}