.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: black;
    border-width: 1px;
    border-radius: 5px;
    width: 70%;
    height: 70%;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom-color: #fff;
    border-bottom-width: 1px;
    width: 100%;
    height: 10%;
}

.head h2 {
    color: #fff;
    margin-left: 10px;
}

.filter {
    display: flex;
    flex-direction: row;
}

.field {
    display: flex;
    flex-direction: row;
}

.labelModel {
    color: #fff;
    font-size: 16px;
    margin-right: 8px;
}

.labelStamp {
    color: #fff;
    font-size: 16px;
    margin-left: 8px;
    margin-right: 8px;
}

.field Input {
    display: flex;
    text-align: center;
    background-color: #fff;
    height: 26px;
    width: 100px;
}

.buttonSearch {
    background-color: gray;
    color: #fff;
    width: 50px;
    height: 26px;
    margin-left: 12px;
}

.buttonSearch:hover {
    background-color: lightgray;
}

.buttonSearch:active {
    background-color: gray;
}

.buttonAdd {
    background-color: green;
    color: #fff;
    width: 110px;
    height: 26px;
    margin-right: 12px;
}

.buttonAdd:hover {
    background-color: lightgreen;
}

.buttonAdd:active {
    background-color: green;
}

.table {
    height: 100%;
    width: 100%;
}

.tableHeader TableRow {
    display: flex;
    flex-direction: row;
}

.tableHead {
    text-align: center;
    color: #fff;
}

.tableBody TableRow {
    display: flex;
    flex-direction: row;
}

.tableCell {
    text-align: center;
    color: #fff;
}

.tableBodyButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttonDelete {
    background-color: red;
    width: 55px;
    height: 30px;
    margin-right: 20px;
}

.buttonDelete:hover {
    background-color: orangered;
}

.buttonDelete:active {
    background-color: red;
}

.pagination{
    display: flex;
    margin-top: auto;
    flex-direction: row;
    justify-content: center;
    color: #fff;
    width: 100%;
    border-top-color: #fff;
    border-top-width: 1px;
}

.pagination Button{
    color: #fff;
}

.select option{
    color: black;
}