.container{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.main{
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: #000;
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    border-color: black;
    border-width: 1px;
}

.title{
    color: #fff;
    font-size: 32px;
}