.headerCard {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 28px;
    margin-right: 12%;
}