.contantCard {
    height: 90%;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 5%;
}

.field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20%;
}

.fieldDate {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.input {
    display: flex;
    text-align: center;
    width: 80%;
}

.inputDate {
    display: flex;
    justify-content: center;
    width: 35%;
}

.buttonSubmit {
    width: 20%;
    height: 40px;
}

.buttonSubmit:hover {
    background-color: lightgray;
}

.buttonSubmit:active {
    background-color: black;
}