.container{
    width: 100%;
    height: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 30%;
    height: 45%;
    display: flex;
    flex-direction: column;
}

.card h1{
    text-align: center;
    font-weight: bolder;
    font-size: 28px;
}

.card Form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
}

.field{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.label{
    font-weight: bolder;
}

.input{
    display: flex;
    text-align: center;
}

.buttonSubmit{
    display: flex;
    width: 20%;
}