.header {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 10%;
    background-color: #000;
    justify-content: space-between;
}

.positionLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 170px;
}

.logo {
    color: #fff;
    font-size: 20px;
}

.logo:hover{
    color: #d3d3d3;
}

.logo:active{
    color: #fff;
}

.menuPosition{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 100%;
}

.menu{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.menuLink{
    color: #fff;
}

.authButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    height: 100%;
    width: 12%;
}

.login {
    color: #fff;
    font-size: 20px;
}

.register {
    color: #fff;
    font-size: 20px;
}

.authButtonsDetail {
    color: #fff;
    font-size: 20px;
    margin-left: 2%;
    margin-right: 2%;
}

.userName{
    color: #fff;
    font-size: 12px;
    margin-right: 2%;
}

.buttonLogout{
    color: #fff;
    margin-left: 2%;
    margin-right: 2%;
}